
.review-item {

  lost-column: 1/3;
  color: grey;
  display: flex;
  background: lightgray;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
}
review-list {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.editor {
  box-shadow: 2px 4px gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: lightgrey;
  width: 80%;
  margin: 1em auto;

  input {
    box-sizing: border-box;
    padding: .3em;
    font-size: 1.2em;
    &:focus {
      transform: scale(1.2);
    }
  }
}

.restaurant-item {
  color: grey;
  background: lightgray;
  margin-bottom: 30px;
  padding: 1px 0 17px 18px;
  font-size: 18px;
  button {
    border: none;
    background: black;
    border-radius: 5px;
    padding: .6em;
    color: lightgrey;
  }
}

span{
  font-style: italic;
  color: black;
}
