body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

$shadow: 2px 4px black;
@mixin heading($background: lightgray, $color: black, $margin: 1em 0 0 0 ) {
  margin: $margin;
  box-shadow: $shadow;
  padding: 18px;
  background: $background;
  color: $color;
}


@mixin reviewer($background: white, $color: grey) {
  box-sizing: border-box;
  box-shadow: $shadow;
  lost-column: 1/4;
  color: $color;
  display: flex;
  background: $background;
  margin-bottom: 30px;
  flex-direction: column;
  padding: 0 1em;
}
.review-item {
  @include reviewer();
}


.review-form {
  @include reviewer(rgba(0,0,0, .6), white);
  label {
    display: block;
    margin: 18px 0;
  }
}
review-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.editor {
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: black;
  color: white;
  margin: 1em 0;

  input {
    background: white;
    box-sizing: border-box;
    padding: .3em;
    font-size: 1.2em;
  }
}

.restaurant-item {
  color: grey;
  box-shadow: $shadow;
  background: lightgray;
  margin: 3px 0 30px 0;
  padding: 1px 18px 17px 18px;
  font-size: 18px;
  button {
    display: block;
    margin-top: 30px;
    border: none;
    background: black;
    border-radius: 5px;
    padding: .6em;
    color: lightgrey;
  }
}

span{
  font-style: italic;
  color: black;
}

restaurant {

  h1{

    @include heading;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    span {
      border: 1px solid black;
      padding: 0 .5em;
      cursor: pointer;
    }
  }
}

add-restaurant {
  h1 {
    @include heading(rgba(0, 0, 0, 0.7), white);
  }
}

.add-resto {
  box-sizing: border-box;
  box-shadow: $shadow;
  color: white;
  display: flex;
  background: rgba(0,0,0, 0.7);
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1em;
  label {
    display: block;
    margin: 18px 0;
  }
  input {
    padding: 1em;
    font-size: 1em;
  }

  button {
    margin-top: 1em;
    padding: 1em;
    width: 200px;
    background: black;
    border: none;
    color: white;
    border-radius: 5px;
  }
}

.title-heading {
  @include heading( rgba(0, 0, 0, 0.7), white, 0);
}

.search-form {
  background: lightgrey;
  margin: 1em 0;
  width: 15vw;
  height: 8vh;
  border-radius: 5px;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  button {
    width: 30%;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
  }
}
