

@mixin reviewer($background: white, $color: grey) {
  box-sizing: border-box;
  box-shadow: 2px 4px black;
  lost-column: 1/4;
  color: $color;
  display: flex;
  background: $background;
  margin-bottom: 30px;
  flex-direction: column;
  padding: 0 1em;
}
.review-item {
  @include reviewer();
}


.review-form {
  @include reviewer(rgba(0,0,0, .6), white);
  label {
    display: block;
    margin: 18px 0;
  }
}
review-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.editor {
  box-shadow: 2px 4px black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: black;
  color: white;
  margin: 1em 0;

  input {
    background: white;
    box-sizing: border-box;
    padding: .3em;
    font-size: 1.2em;
  }
}

.restaurant-item {
  color: grey;
  box-shadow: 2px 4px black;
  background: lightgray;
  margin-bottom: 30px;
  padding: 1px 18px 17px 18px;
  font-size: 18px;
  button {
    display: block;
    margin-top: 30px;
    border: none;
    background: black;
    border-radius: 5px;
    padding: .6em;
    color: lightgrey;
  }
}

span{
  font-style: italic;
  color: black;
}

restaurant {
  h1{
    margin: 1em 0 0 0 ;
    box-shadow: 2px 4px black;
    padding: 18px;
    background: lightgray;
    color: black;
  }
}
